
<div class="travel-map-container">
  <div id="travel-map"></div>
</div>

<script>
document.addEventListener("DOMContentLoaded", () => {
  const map = L.map("travel-map", {
    zoomControl: false,
    attributionControl: false,
    scrollWheelZoom: false,
    doubleClickZoom: false,
    dragging: false,
    boxZoom: false,
    keyboard: false,
    tap: false
  });

  L.tileLayer(
    "https://{s}.basemaps.cartocdn.com/dark_nolabels/{z}/{x}/{y}{r}.png",
    { maxZoom: 5 }
  ).addTo(map);


  
  const points = [
    [37.5665, 126.9780],   // Seoul
    [38.0967, 128.6210],   // Sokcho
    [33.4996, 126.5312],   // Jeju
    [22.9243, 113.8735],   // Dongguan
    [35.0116, 135.7681],   // Kyoto
    [43.0642, 141.3469],   // Sapporo
    [52.0302, 8.5325],     // Bielefeld
    [-37.7949, 144.9740], // Creswick
    [48.8566, 2.3522]     // France
  ];

  points.forEach(p => {
    L.circleMarker(p, {
      radius: 4,
      color: "#5fa87c",
      fillColor: "#5fa87c",
      fillOpacity: 1,
      weight: 1,
      interactive: false
    }).addTo(map);
  });
});
</script>

