
.layout {
  display: flex;
  min-height: 100vh;
  font-family: 'IBM Plex Sans', sans-serif;
  background-color: #1e1e1e;
  color: #f0f0f0;
}

.sidebar {
  width: 200px;
  background-color: #222;
  padding: 2rem 1rem;
  flex-shrink: 0;
}

.sidebar .logo {
  color: #c3e8cc;
  text-align: center;
  margin-bottom: 2rem;
}

.side-link {
  display: block;
  color: #c8f7c5;
  text-decoration: none;
  padding: 0.5rem 0;
  font-size: 1.1rem;
  text-align: left;
}

.side-link:hover {
  text-decoration: underline;
}

a {
  color: #88c999; /* 예: 짙은 녹색 */
  text-decoration: none; /* 밑줄 제거 (선택사항) */
}

a:hover {
  text-decoration: underline; /* 마우스 올렸을 때 */
}

a:visited {
  color: #88c999;  /* 방문한 링크도 같은 색 유지 */
}

.main-content {
  flex-grow: 1;
  padding: 2rem;
}
